.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.cant-add-certificate {
  margin-left: 20px;
  background-color: crimson;
  color: cornsilk;
  padding: 2px;
  font-size: smaller;
}

.certificate-exists{
  margin-left: 20px;
  background-color: green;
  color: white;
  padding: 2px;
  font-size: larger;
  width: 150px;
  text-align: center;
}
