<h1 mat-dialog-title>Certificate</h1>
<div mat-dialog-content>
  <span class="certificate-field"><span style="font-weight: bold;">Alias:&nbsp;</span>{{certificate.alias}}</span>
  <br>
  <span class="certificate-field"><span style="font-weight: bold;">Locality:&nbsp;</span>{{certificate.locality}}</span>
  <br>
  <span class="certificate-field"><span style="font-weight: bold;">State name:&nbsp;</span>{{certificate.stateName}}</span>
  <br>
  <span class="certificate-field"><span style="font-weight: bold;">Country name:&nbsp;</span>{{certificate.countryName}}</span>
  <br>
  <span class="certificate-field"><span style="font-weight: bold;">Date issuede:&nbsp;</span>{{certificate.dateIssued}}</span>
  <br>
  <span class="certificate-field"><span style="font-weight: bold;">End date:&nbsp;</span>{{certificate.endDate}}</span>
  </div>
