<h1 mat-dialog-title>Certificate</h1>
<div mat-dialog-content>
  <span class="certificate-field">Issued by:&nbsp;{{certificate.issuedBy}}</span>
  <br>
  <span class="certificate-field">Owned by:&nbsp;{{certificate.issuedBy}}</span>
  <br>
  <span class="certificate-field">Start date:&nbsp;{{certificate.issuedBy}}</span>
  <br>
  <span class="certificate-field">End date:&nbsp;{{certificate.issuedBy}}</span>
  <br>
  <span class="certificate-field">Public key:&nbsp;{{certificate.issuedBy}}</span>
  <br>
  <span class="certificate-field">Serial number:&nbsp;{{certificate.issuedBy}}</span>
</div>
