<h1 mat-dialog-title>Certificate</h1>
<div mat-dialog-content>
  <span class="certificate-field"><span style="font-weight: bold;">Issued by:&nbsp;</span>{{certificate.issuedBy}}</span>
  <br>
  <span class="certificate-field"><span style="font-weight: bold;">Owned by:&nbsp;</span>{{certificate.ownedBy}}</span>
  <br>
  <span class="certificate-field"><span style="font-weight: bold;">Start date:&nbsp;</span>{{certificate.startDate}}</span>
  <br>
  <span class="certificate-field"><span style="font-weight: bold;">End date:&nbsp;</span>{{certificate.endDate}}</span>
  <br>
  <span class="certificate-field"><span style="font-weight: bold;">Public key:&nbsp;</span>{{certificate.publicKey}}</span>
  <br>
  <span class="certificate-field"><span style="font-weight: bold;">Serial number:&nbsp;</span>{{certificate.serialNum}}</span>
</div>
