<h1 mat-dialog-title>Certificate</h1>
<div mat-dialog-content>
  <form (submit)='addCertificate()' id="generateCertificate">
    <div class="form-group">
      <label>Alias:</label>
      <input type="text" class="form-control" [(ngModel)]="certificate.alias" name="alias" required/>
    </div>
    <div class="form-group">
      <label>Locality:</label>
      <input type="text" class="form-control" [(ngModel)]="certificate.locality" name="locality" required/>
    </div>
    <div class="form-group">
      <label>State name:</label>
      <input type="text" class="form-control" [(ngModel)]="certificate.stateName" name="stateName" required/>
    </div>
    <div class="form-group">
      <label>Country name:</label>
      <input type="text" class="form-control" [(ngModel)]="certificate.countryName" name="countryName" required/>
    </div>
    <div class="form-group">
        <label>Date issued:</label>
        <input type="date" class="form-control" [(ngModel)]="certificate.dateIssued" name="countryName" required/>
      </div>
      <div class="form-group">
          <label>End date:</label>
          <input type="date" class="form-control" [(ngModel)]="certificate.endDate" name="countryName" required/>
        </div>
    <!-- <span style="font-weight: bold;">Public key:&nbsp;</span>
    <input type="text" class="certificate-field" [(ngModel)]="certificate.name"> -->
    <button mat-raised-button color="primary" class="add-cert-button" type="submit">Add certificate</button>
  </form>
</div>
