<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="jwtService.tokenExist()" title="Home" class="nav-item active">
        <a class="nav-link" routerLinkActive="active" routerLink="/">
          <span class="fa fa-home fa-lg"></span>
        </a>
      </li>

      <li *ngIf="jwtService.tokenExist()" title="Softwares" class="nav-item ">
        <a class="nav-link" routerLinkActive="active" routerLink="/software-certificates">
          Software certificates
        </a>
      </li>

      <li *ngIf="jwtService.tokenExist()" title="Revoke certificate" class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/revoke-certificate">
          Revoke certificate
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li *ngIf="!jwtService.tokenExist()">
        <a routerLink="/login">Login</a>
      </li>
      <li class="navbar-personal-dropdown" dropdown *ngIf="jwtService.tokenExist()">
        <a href dropdownToggle (click)="false">
          {{ jwtService.getUsernameFromToken() }}
          <span class="fa fa-caret-down"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" id="dropdownMenuPersonal">
          <li *ngIf="jwtService.tokenExist()">
            <a (click)="logout()">
              <span class="fa fa-sign-out"></span> Sign out
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
